# Keil MDK 编译产物
test1/MDK-ARM/test1/*.o
test1/MDK-ARM/test1/*.d
test1/MDK-ARM/test1/*.axf
test1/MDK-ARM/test1/*.hex
test1/MDK-ARM/test1/*.map
test1/MDK-ARM/test1/*.htm
test1/MDK-ARM/test1/*.lnp
test1/MDK-ARM/test1/*.sct
test1/MDK-ARM/test1/*.dep
test1/MDK-ARM/test1/*.build_log.htm

# Keil MDK 用户配置（每人不同）
test1/MDK-ARM/*.uvguix.*
test1/MDK-ARM/*.uvoptx

# CubeMX 项目缓存
test1/.mxproject

# 系统文件
Thumbs.db
.DS_Store
Desktop.ini